<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

  <p>
    <strong>Identifier:</strong>
    <%= task.identifier %>
  </p>

  <p>
    <strong>Due on:</strong>
    <%= task.due_on %>
  </p>

</div>
